body {
    direction: rtl;
}

hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 4px;

}

ul {
    list-style: none;
}

span {
    width: 29px !important;
}

.addnewbtn {
    border-radius: 5px;
    color: #1BC5BD;
    width: 20%;
    background: white;
    padding: 5px 0px;
    border: 1px solid #1BC5BD;
}

.addnewbtn4 {
    color: #1BC5BD;
    width: 15%;
    background: white;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px solid #1BC5BD;
}

.addnewbtn4:hover {
    color: #1BC5BD;

    border: 1px solid #1BC5BD;
}

.addnewbtn1 {
    background: #1BC5BD;
    color: white;
    width: 15%;
    border: 1px solid #1BC5BD;
    border-radius: 5px;
    padding: 5px 0px;
    margin-right: 360px;
}

.addnewbtn1:hover {
    background: #1BC5BD;
    color: white;

    border: 1px solid #1BC5BD;
}

.addnewbtn2 {
    background: #1BC5BD;
    color: white;
    width: 10%;
    height: 10%;
    border-radius: 3px;
    padding: 5px 0px;
    border: 1px solid #1BC5BD;

}

.addnewbtn2:hover {
    background: #1BC5BD;
    color: white;

    border: 1px solid #1BC5BD;
}

.addnewbtn:hover {
    color: #1BC5BD;

    border: 1px solid #1BC5BD;
}

.nullfield {
    background: #ffffff;
}

.componentholder1 {
    width: 200px;
    height: 62px;
}

.spans img {
    width: 35%;
}

@media screen and (max-width: 650px) {
    .spans {
        opacity: 100% !important;


    }
    .moverowicon img {
        margin-left: 20px;
        width: 90%;
    }

    .deleterowicon img {
        width: 90%;
        margin-right: 20px;
    }


}

@media screen and (max-width: 800px) {
    .componentholder1 {
        width: 0;
        height: 10px;
    }
    .componentholder .settingmenu {

        opacity: 100 !important;
        justify-content: end !important;
    }

    .addbtn {
        width: 95px;
    }

    .spans {
        opacity: 100% !important;


    }


    .moverowicon img {

        margin-left: 20px;
        width: 60%;
    }

    .deleterowicon img {
        width: 60%;
        margin-right: 20px;
    }


}

.spans:hover {
    cursor: pointer;
}

.nullfield:hover {

    cursor: pointer;
    background: white;
    border-color: #1BC5BD;
}


.componentitem {
    background: #f3f6f9;
    border-radius: 2px;
}

.deleteicon {
    width: 24px !important;

    margin-left: 15px;
    margin-bottom: 0;
}

.settingicon {
    width: 24px !important;

    margin-left: 5px;
    margin-bottom: 0;
}

.deleteicon:hover {

    cursor: pointer;

}

.settingicon:hover {

    cursor: pointer;
}

.componentitem:hover {
    cursor: pointer;
    color: #1BC5BD;
    border: 1px solid #1BC5BD;
    background: white;
}

.componentholder .settingmenu {
    margin-bottom: 5px;
    display: flex;
    opacity: 0;
}

.componentholder:hover .settingmenu {

    opacity: 100;
    justify-content: end !important;
}

.componentholder:hover .componentfield {
    border: 1px solid #B2B2B2 !important;
    border-radius: 6px;

}

.componentfield {
    border: 1px solid #F7F9FB;
    border-radius: 6px;
    padding: 10px 10px;
}

.removemark {
    position: absolute;
    top: 30%;
    right: 95%;
    color: red;
}

.removemark:hover {
    cursor: pointer;
}

.removemark1 {
    position: absolute;
    top: 40%;
    right: 87%;
    color: red;
}

.removemark1:hover {
    cursor: pointer;
}

.removemark2 {
    position: absolute;
    top: 40%;
    right: 94%;
    color: red;
}

.removemark2:hover {
    cursor: pointer;
}

.removemark3 {
    position: absolute;
    top: 40%;
    right: 44%;
    color: red;
}

.removemark3:hover {
    cursor: pointer;
}

.addfielddiv img {
    border: 1px solid #f3f6f9;

}

.addfielddiv:hover img {
    cursor: pointer;
    border: 2px solid #1BC5BD;
    border-radius: 5px;
}

.addfielddiv:hover h4 {
    cursor: pointer;
    color: #1BC5BD;

}

.componentsrows {
    background: #F7F9FB;
    height: fit-content !important;
    border-radius: 5px;
}

.dragbtn:hover {
    cursor: pointer;
}

.dragbtncolor {
    color: #656565 !important;

}

.componentrow:hover .spans {

    opacity: 100 !important;
}

.bgdetect .componentsrows {
    border: 1px solid #1BC5BD;

}